<div>
  <h2>Products</h2>


  <label for="pageSizeSelect">Page Size:</label>
  <select id="pageSizeSelect" [(ngModel)]="pageSize" (change)="onPageSizeChange(pageSize)">
    <option *ngFor="let size of pageSizeOptions" [value]="size">
      {{ size === 'All' ? 'All' : size }}
    </option>
  </select>


  <p>Total Products: {{ totalProducts }}</p>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Thumbnail</th>
      <th>Title</th>
      <th>Rating</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>
        <img [src]="product.thumbnail" alt="{{ product.title }}" width="100">
      </td>
      <td>{{ product.title }}</td>
      <td>{{ product.rating }}</td>
      <td>{{ product.price }}</td>
    </tr>
    </tbody>
  </table>

  <ngb-pagination
    [collectionSize]="totalProducts"
    [(page)]="currentPage"
    [pageSize]="pageSize !== 'All' ? pageSize : totalProducts"
    (pageChange)="onPageChange($event)">
  </ngb-pagination>

</div>
